adafruit_ble
adafruit_bluefruit_connect
adafruit_bus_device
adafruit_circuitplayground
adafruit_gizmo
adafruit_hcsr04.mpy
adafruit_hid
adafruit_lis3dh.mpy
adafruit_motor
adafruit_thermistor.mpy
neopixel.mpy
simpleio.mpy
